gcp_project_id     = ""
gcp_project_number = ""
primary_region     = ""
bucket_name        = ""
queue_name         = ""
secrets_file       = ""
cloud_sql_instance_name = ""
db_name                 = ""
repository_id           = ""
cors_allowed_origins    = ""
google_agent_engine_resource_name = ""
